$maincolor: rgb(255, 255, 255);

$PrimtextColor: rgb(0, 0, 0);
$sectextColor: rgb(104, 110, 237);
$paratextColor: rgb(129, 129, 129);

body {
  background: rgb(255, 255, 255);
  color: $maincolor;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

img {
  object-fit: contain;
}

#sidebar a.active {
  color: red;
}
#sidebar a.not {
  color: rgb(9, 255, 0);
}

// overflow-x: scroll;
// overflow-y: hidden;
// padding: 10px 0;
