.Catdiv {
  padding: 1rem 0 1rem 1.5rem;
  height: 40vh;
  border: 1px solid black;
  color: black;
  h4 {
    padding: 2rem 0 5rem 0;
    text-align: center;
    @media only screen and (max-width: 600px) {
      padding: 1rem 0 1rem 0;
    }
  }
  .linkdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11rem;
    @media only screen and (max-width: 600px) {
      gap: 1rem;
    }
    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
  }
}

.imdiv {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
  }
  p {
    text-align: center;
  }
}

.productbackbutton {
  padding: 0 0 1rem 2.3rem;
  font-size: 1rem;
  button {
    width: 5%;
    border: 1px solid rgb(148, 148, 148);
    background-color: transparent;
    border-radius: 3px;
    @media only screen and (max-width: 600px) {
      width: 15%;
    }
  }
  a {
    text-decoration: none;
    color: black;
    letter-spacing: 1.2px;
  }
}
