$themes: (
  light: (
    text: #0b1114,
    background: #e8f1f3,
    primary: #345865,
    secondary: #b991c5,
    accent: #904c7a,
  ),
  dark: (
    text: #ebf1f4,
    background: #0c1517,
    primary: #9abecb,
    secondary: #623a6e,
    accent: #b36f9e,
  ),
);

$theme: map-get($themes, light);

.productbackbutton {
  padding: 1rem 0 0 2.3rem;
  font-size: 1rem;
  button {
    width: 5%;
    border: 1px solid rgb(148, 148, 148);
    background-color: transparent;
    border-radius: 3px;
    @media only screen and (max-width: 600px) {
      width: 15%;
    }
  }
  a {
    text-decoration: none;
    color: black;
    letter-spacing: 1.2px;
  }
}

.product {
  width: 100%;
  height: 160vh;
  @media only screen and (max-width: 600px) {
    height: 110vh;
  }
  .product-container {
    padding: 1.2rem;
    width: 100%;

    .detimgdiv {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.51rem;
      }
    }

    .product-detail {
      display: flex;

      width: 100%;
      height: 100%;
      padding: 1rem;
      gap: 4rem;
      @media only screen and (max-width: 600px) {
        width: 100%;
        display: block;
      }

      h2 {
        color: map-get($theme, text);
        padding: 1rem 0 1rem 0;
        text-transform: capitalize;
      }
      p {
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.8rem;
        padding-bottom: 1rem;
        span {
          color: rgb(255, 0, 0);
          padding: 1rem 0 1rem 0;
        }
      }

      .buttdiv {
        padding: 1rem 0 1rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
        width: 50%;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
        }

        .product-button {
          width: 150px;
          height: 45px;
          font-size: 1.1rem;
          font-weight: 500;
          border-radius: 0.21rem;
          letter-spacing: 1.2px;
          border: none;
          color: rgb(255, 0, 0);
          background-color: rgb(222, 222, 222);
        }
      }
    }
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  h1 {
    color: black;
  }
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
