$maincolor: rgb(255, 255, 255);

$PrimtextColor: rgb(0, 0, 0);
$sectextColor: rgb(104, 110, 237);
$paratextColor: rgb(129, 129, 129);

footer {
  border: 1px solid rgb(156, 156, 156);
  width: 100%;
  height: 50vh;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    div {
      width: 100%;
      height: 100%;
      ul {
        padding: 1.55rem;
        li {
          text-transform: capitalize;
          padding: 0.55rem;
          list-style: none;
          color: $PrimtextColor;
          font-size: 1rem;
        }
      }
    }
  }

  .rightsdiv {
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: block;
    div {
      padding: 0 0 0.95rem 0rem;

      button {
        padding: 0.21rem;
        width: 160px;
      }
      p {
        letter-spacing: 1.5px;
      }
    }
  }
}
